:root {
    --bg-dark: #333;
    --bg-yellowish: #ffc451;
    --bg-white: #fff;
    --clr-white: #fff;
    --clr-dark: #333;
    --clr-yellowish: #ffc451; 
}
.about-me{
    position: relative;
    top: 67px;
    height: calc(100vh);
}
#skills-section{
    padding: 3rem 0 5rem 0;
}
.skills h2{
    padding-bottom: 1rem;
    font-weight: 900;
    font-size: 3rem;
    color: var(--clr-yellowish);
}
.skills-image{
    height: 60px;
    width: 60px;
    margin: auto;
}
.skills-effect{
    position: relative;
   background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .2);
    overflow: hidden;
}
.skills-effect::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width:  100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}
.skills-effect:hover::before{
    left: 100%;
}
/* reveal description */
.back-end{
    overflow: hidden;
}
.back-end:hover .back-end-body , .front-end:hover .front-end-body, .tools:hover .tools-body{
    right: 0;
}
.back-end-body, .front-end-body, .tools-body{
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    /* background: #1f3d4738; */
    background: #292929cc;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: var(--clr-yellowish);
    padding: .2rem 5rem;
    transition: 2s ease-in-out;
    line-height: 1.4rem;
}

.back-end-title h2 , .front-end-title h2, .tools-title h2{
    padding: 0;
    font-weight: 600;
    font-size: 3rem;
}
.back-end-subtitle, .front-end-subtitle, .tools-subtitle{
    padding: 0;
    font-size: 1.1rem ;
    font-weight: 400;
}
/* testimonials */
#testimonial-section{
    padding: 3rem 0 5rem 0;
}
.testimonial{
    width: 320px;
    border-radius: 25px;
    background: var(--clr-white);
    padding: 0;
}
.testimonial-caption h2{
    padding-bottom: 1rem;
    font-weight: 900;
    font-size: 3rem;
    
}
.image-content,
.card-content1,.card-content2,.card-content3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.media-icons{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 18px;
    gap: 10px;
    /* z-index: 999; */
}

.fa-facebook:hover, .fa-twitter:hover, .fa-github:hover{
    color: var(--clr-white);
    cursor: pointer;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-yellowish);
    border-radius: 25px 25px 0 25px;
}
.overlay::before,.overlay::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background: var(--bg-yellowish);
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background: var(--clr-white);
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--clr-white);
    padding: 3px;
}
.card-image .testimonial-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--clr-yellowish);
}
.card-name{
    font-size: 2rem;
    font-weight: 600;
    color: var(--clr-dark);
}
.card-profession{
    font-weight: 600;
    font-size: 1rem;
    
}
.card-description{
    font-size: 14px;
    color: var(--clr-yellowish);
    text-align: center;
}

.testimonial{
    overflow: hidden;
}
.card-content1 a, .card-content2 a, .card-content3 a{
    font-size: .8rem;
    background: var(--bg-yellowish);
}
.card-content1 a:hover, .card-content2 a:hover, .card-content3 a:hover{
    border: 1px solid var(--clr-yellowish);
}
.testimonial-body1,.testimonial-body2,.testimonial-body3{
    position: absolute;
    top: -100%;
    right: 0;
    height: 100%;
    width: 100%;
    background: #292929cc;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    color: var(--clr-yellowish);
    padding: .2rem 1rem;
    transition: 2s ease-in-out;
    line-height: 1.4rem;
    text-align: center;
}
.testimonial-title h2 {
    padding: 0;
    font-weight: 600;
    font-size: 2.5rem;
}
.testimonial-subtitle1, .testimonial-subtitle2,.testimonial-subtitle3{
    padding: 0;
    font-size: 1rem ;
    font-weight: 300;
}
.fa-close{
    position: relative;
    left: 8rem;
    top: .8rem;
    margin-top: .3rem;
    font-size: 2rem;
    cursor: pointer;   
}
.fa-face-smile{
    font-size: 2rem;
    color: var(--clr-yellowish);
}
@media (max-width: 768px) and (min-width: 500px) {
    
    .about-me{
        height: unset;
        padding-bottom: 3rem;
        
    }
}